// Import Google fonts
<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&family=Lora&display=swap");

// Define fonts for body and headers
$body-font: 'Lora', serif;
$headers-font: 'Josefin Sans', sans-serif;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
=======
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Manrope:wght@800&display=swap");

// Define fonts for body and headers
$body-font: 'Lora', serif;
$headers-font: 'Manrope', sans-serif;
>>>>>>> b1061df5e30387f8557abba7298717ea4a1fbe85
