.avatar {
  width: 250px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

@media (max-width: 450px) {
  .avatar {
    width: 100%;
    font-size: 28px;
    margin-block-end: 5px;
  }
}


input#contact_name, input#contact_email {
  width: calc(100% - 10px);
}

.contact-form {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(auto, auto);
}


textarea#contact_message.contact-form-text-area {
  width: calc(100% - 24px);
  padding: 10px;
}

.send-button {
  margin-top: 10px !important;
  border-radius: 22px;
  margin-left: calc(50% - 56px);
}

.icons-logiciels {
  width: 100%;
  margin-top: 20px;
}

@media (min-width: 550px) {
  .icons-logiciels {
    width: 440px;
  }
}
