.show-container {
  display: flex;
  padding-top: 50px;
  margin-left: 70px;
  margin-right: 70px;
}

.show-fix {
  text-align:right;
  padding-left: 0%;
}

@media (min-width: 1200px) {
  .show-fix {
    padding-left: 16px;
  }
}

.img-show {
  width: 100%;
  border-radius: 5px;
}
