<div class="container-8 container-contact">
  <div class="g-1-4">
    <div class="spacer"></div>
      <%= image_tag "portrait-quentin-orhant.jpg", class: "avatar", alt: "Photo de présentation - Quentin Orhant" %>
  </div>
  <div class="g-4-9">
    <h2>Présentation</h2>
    <div class="description">
      <p>Expert freelance en éco-conception d’objets et de services. Développeur et maker, je mets en avant une approche éthique et écologique dans tous mes projets.</p>
      <p>Chaque création est le fruit d'une réflexion sur les enjeux environnementaux actuels. Découvrez mes réalisations allant du recyclage des plastiques à la fabrication d’une balise pour les tortues marines.</p>
      <p>Explorez mes travaux qui fusionnent art, science et technologie pour un avenir plus durable.</p>
    </div>
  </div>
</div>
<div class="container-8 container-contact">
  <div class="g-1-4">
    <div class="spacer"></div>
    <h2>CONTACTS</h2>
    <p>06 76 54 43 11</p>
    <p>contact@quentino.io</p>
    <div class="spacer"></div>
    <h2>Formations</h2>
    <h3>BOOTCAMP Développeur WEB</h3>
    <p>Le Wagon Rennes</p>
    <p class="p-highlight">2022</p>
    <br>
    <h3>Licence géo & aménagement</h3>
    <p>Université Rennes 2</p>
    <p class="p-highlight">2011</p>
    <br>
    <h3>Licence énergie environnement</h3>
    <p>Université de Clermont-Ferrand</p>
    <p class="p-highlight">2010</p>
    <div class="spacer"></div>
    <h2>Compétences</h2>
    <h3>Développement web</h3>
    <h3>Conception d'objets</h3>
    <h3>Design graphique</h3>
    <h3>Gestion de projet</h3>
    <h3>Médiation</h3>
    <br>
  </div>
  <div class="g-4-9">
    <div class="spacer"></div>
    <h2>Expériences</h2>
    <h3>Coordinateur / Fabmanager</h3>
    <p>Création et coordination de L'Atelier Commun. Tiers-lieu dédié à l'écologie et au réemploi.</p>
    <p class="p-highlight">2019 - Sept 2022</p>
    <br>
    <h3>Maker / développeur freelance</h3>
    <p>Prototypage, développement web, créations artistique, médiation et ateliers.</p>
    <p class="p-highlight">2013 - Aujourd’hui</p>
    <br>
    <h3>Animateur / médiateur scientifique</h3>
    <p>Animation et accompagnement des groupes et du grand public à L’Espace des sciences de Rennes.</p>
    <p class="p-highlight">2011 - 2013</p>
    <div class="spacer"></div>
    <h2>Langages et logiciels</h2>
    <%= image_tag "icons.png", class: "icons-logiciels", alt: "icones des logiciels utilisés" %>
    <div class="spacer"></div>
    <%= render "contacts/shared/message" %>
    <div class="spacer-last"></div>
  </div>
</div>
<div class="footer">
  <%= link_to "https://collectif.greenit.fr/ecoconception-web/", class: "footer", title: "lien vers greenIT - référenciel d'éco-conception web", target: "_blank" do %>
    <p class= "footer-text"> Un site réalisé en respectant les principes de l'éco-conception web !</p>
  <% end %>
</div>
