.delete-img {
  width: 70px;
  height: 70px;
  object-fit:cover;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.delete-img:hover {
  cursor: pointer;
}


.delete-img-container {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.delete-icon:hover {
  cursor: pointer;
}
